# ==========================================
# FRONTEND VARIABLES
# ==========================================
# If using Vite (change to REACT_APP_SERVER_URL if using Create React App)
VITE_SERVER_URL=http://localhost:5000

# ==========================================
# BACKEND VARIABLES
# ==========================================
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/bakaziki?retryWrites=true&w=majority
CLIENT_URL=http://localhost:3000